@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

@import "tailwindcss";

@theme {
  --font-ror: "DynaPuff", system-ui;
}

@theme {
  --breakpoint-xlg: 55rem;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  #hero {
    background-image: url("./img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
